{{ 'accordion-image.css' | asset_url | stylesheet_tag }}

<div class="accordion__image">
    <div class="accordion-image__img-wrapper">
        <img  srcset="{%- if image_id.width >= 375 -%}{{ image_id | img_url: '375x' }} 375w,{%- endif -%}
              {%- if image_id.width >= 750 -%}{{ image_id | img_url: '750x' }} 750w,{%- endif -%}
              {%- if image_id.width >= 1100 -%}{{ image_id | img_url: '1100x' }} 1100w,{%- endif -%}
              {%- if image_id.width >= 1500 -%}{{ image_id | img_url: '1500x' }} 1500w,{%- endif -%}
              {%- if image_id.width >= 1780 -%}{{ image_id | img_url: '1780x' }} 1780w,{%- endif -%}
              {%- if image_id.width >= 2000 -%}{{ image_id | img_url: '2000x' }} 2000w,{%- endif -%}
              {%- if image_id.width >= 3000 -%}{{ image_id | img_url: '3000x' }} 3000w,{%- endif -%}
              {%- if image_id.width >= 3840 -%}{{ image_id | img_url: '3840x' }} 3840w,{%- endif -%}
              {{ image_id | img_url: 'master' }} {{ image_id.width }}w"
        sizes="(min-width: 750px) 100vw" src="{{ image_id | img_url: '1500x' }}" loading="lazy"
        alt="{{ image_id.alt | escape }}" width="{{ image_id.width }}"
        height="{{ image_id.width | divided_by: image_id.aspect_ratio }}">
    </div>
    <div class="accordion-image__img-content">
        <button class="accordion">Section 1</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="accordion">Section 2</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="accordion">Section 3</button>
        <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<script>
    const acc2 = document.querySelectorAll(".accordion-image__img-content .accordion");
    let i;
    
    for (i = 0; i < acc2.length; i++) {
      acc2[i].addEventListener("click", function() {
        this.classList.toggle("active");
        const panel2 = this.nextElementSibling;
        const scrollHeight = panel2.scrollHeight;
        if (panel2.style.height === scrollHeight+'px') {
            panel2.style.height = "0";
        } else {
            panel2.style.height = scrollHeight+'px';
        }
      });
    }
</script>
    