<link rel="stylesheet" href="{{ 'uvp-section.css' | asset_url }}" media="print" onload="this.media='all'">


<div class="uvp-section page-width">
    <ul>
        <li>
            {{uvp_icon_1n}}
            <h4>{{uvp_text_1}}</h4>
        </li>
        <li>
            {{uvp_icon_2}}
            <h4>{{uvp_text_2}}</h4>
        </li>  
        <li>
            {{uvp_icon_3}}
            <h4>{{uvp_text_3}}</h4>
        </li>  
        <li>
            {{uvp_icon_4}}
            <h4>{{uvp_text_4}}</h4>
        </li>  
    </ul>
</div>
