<!-- ninja-slider-component -->

{{ 'slider-component.css' | asset_url | stylesheet_tag }}
<script src="{{ 'slider-component.js' | asset_url }}" defer="defer"></script>

<div class="slider-component__wrapper">
    <div class="slider-component__image-large">
        {%- for item in media -%}
            <div class="slider-component__image-large-item">
                <img
                srcset="{% if item.preview_image.width >= 288 %}{{ item.preview_image | img_url: '288x' }} 288w,{% endif %}
                    {% if item.preview_image.width >= 576 %}{{ item.preview_image | img_url: '576x' }} 576w,{% endif %}
                    {% if item.preview_image.width >= 750 %}{{ item.preview_image | img_url: '750x' }} 750w,{% endif %}
                    {% if item.preview_image.width >= 1100 %}{{ item.preview_image | img_url: '1100x' }} 1100w,{% endif %}
                    {% if item.preview_image.width >= 1500 %}{{ item.preview_image | img_url: '1500x' }} 1500w,{% endif %}
                    {{ item.preview_image | img_url: 'master' }} {{ item.preview_image.width }}w"
                src="{{ item | img_url: '1500x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                loading="lazy"
                width="576"
                height="{{ 576 | divided_by: item.preview_image.aspect_ratio | ceil }}"
                alt="{{ item.preview_image.alt | escape }}"
                >
            </div>
        {%- endfor -%}
    </div>
    {%- if media.size > 1-%}
    <div class="slider-component__absolute-wrapper">
        <div class="slider-component__image-thumbnail carousel">
            {%- for item in media -%}
                <div class="slider-component__image-thumbnail-item">
                    <img
                    srcset="{% if item.preview_image.width >= 64 %}{{ item.preview_image | img_url: '64x' }} 64w,{% endif %}
                        {% if item.preview_image.width >= 128 %}{{ item.preview_image | img_url: '128x' }} 128w,{% endif %}
                        {% if item.preview_image.width >= 256 %}{{ item.preview_image | img_url: '256x' }} 256w,{% endif %}
                        {% if item.preview_image.width >= 512 %}{{ item.preview_image | img_url: '512x' }} 512w,{% endif %}
                        {% if item.preview_image.width >= 1024 %}{{ item.preview_image | img_url: '1024x' }} 1024w,{% endif %}
                        {{ item.preview_image | img_url: 'master' }} {{ item.preview_image.width }}w"
                    src="{{ item | img_url: '1500x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: 0.64 | round }}px, (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)"
                    loading="lazy"
                    width="196"
                    height="{{ 128 | divided_by: item.preview_image.aspect_ratio | ceil }}"
                    alt="{{ item.preview_image.alt | escape }}"
                    >
                </div>
            {%- endfor -%}

        </div>
    </div>
    {%- endif -%}
</div>