{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">

      <div class="footer-block--newsletter">
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}
      </div>
      <div class="footer-menu__full-width">
        {% for block in section.blocks %}
          {% for link in block.settings.menu.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="social-media__container">   
        <ul>
          {% for block in section.blocks %}
            {% if block.type == "social_media" %}
              
                <li>
                  <a href="{{block.settings.social_url_id}}">
                    {{block.settings.social_icon_id}}
                  </a>
                </li>
              
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="footer-above-menu__container">
        <div class="product-announce">
          {% for block in section.blocks %}
            {% if block.type == 'product' %}
              <div class="product-announce__item">
                <div class="product-announce__item-img">
                  <img srcset="{{ block.settings.product_id.featured_image | img_url: image_size }} 1x, {{ block.settings.product_id.featured_image | img_url: image_size, scale: 2 }} 2x"
                        src="{{ block.settings.product_id.featured_image | img_url: image_size }}"
                        loading="lazy"
                        class="header__heading-logo"
                        width="{{ block.settings.product_id.featured_image.width }}"
                        height="{{ block.settings.product_id.featured_image.height }}"
                        alt="{{ block.settings.product_id.featured_image.alt | default: shop.name | escape }}"
                  >
                  <h4>{{block.settings.product_id.title}}</h4>
          </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        <div class="svg-logo">
          {{ section.settings.logo_svg_id }}
        </div>
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__column--info">
        <div class="copyright__wrapper">
          <h4>Copyright © 2022 ##Nome##. Todos Os Direitos Reservados.</h4>
        </div>
        <div class="payment-badges__wrapper">
          <ul>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 141.732 141.732" style="&#10;    width: 48px;&#10;    height: 48px;&#10;"><g fill="#2566af"><path d="M62.935 89.571h-9.733l6.083-37.384h9.734zM45.014 52.187L35.735 77.9l-1.098-5.537.001.002-3.275-16.812s-.396-3.366-4.617-3.366h-15.34l-.18.633s4.691.976 10.181 4.273l8.456 32.479h10.141l15.485-37.385H45.014zM121.569 89.571h8.937l-7.792-37.385h-7.824c-3.613 0-4.493 2.786-4.493 2.786L95.881 89.571h10.146l2.029-5.553h12.373l1.14 5.553zm-10.71-13.224l5.114-13.99 2.877 13.99h-7.991zM96.642 61.177l1.389-8.028s-4.286-1.63-8.754-1.63c-4.83 0-16.3 2.111-16.3 12.376 0 9.658 13.462 9.778 13.462 14.851s-12.075 4.164-16.06.965l-1.447 8.394s4.346 2.111 10.986 2.111c6.642 0 16.662-3.439 16.662-12.799 0-9.72-13.583-10.625-13.583-14.851.001-4.227 9.48-3.684 13.645-1.389z"/></g><path d="M34.638 72.364l-3.275-16.812s-.396-3.366-4.617-3.366h-15.34l-.18.633s7.373 1.528 14.445 7.253c6.762 5.472 8.967 12.292 8.967 12.292z" fill="#e6a540"/><path fill="none" d="M0 0h141.732v141.732H0z"/></svg>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="64px" height="64px" viewBox="0 0 152.407 108">
                <g>
                  <rect width="152.407" height="108" style="fill: none"/>
                  <g>
                    <rect x="60.4117" y="25.6968" width="31.5" height="56.6064" style="fill: #ff5f00"/>
                    <path d="M382.20839,306a35.9375,35.9375,0,0,1,13.7499-28.3032,36,36,0,1,0,0,56.6064A35.938,35.938,0,0,1,382.20839,306Z" transform="translate(-319.79649 -252)" style="fill: #eb001b"/>
                    <path d="M454.20349,306a35.99867,35.99867,0,0,1-58.2452,28.3032,36.00518,36.00518,0,0,0,0-56.6064A35.99867,35.99867,0,0,1,454.20349,306Z" transform="translate(-319.79649 -252)" style="fill: #f79e1b"/>
                    <path d="M450.76889,328.3077v-1.1589h.4673v-.2361h-1.1901v.2361h.4675v1.1589Zm2.3105,0v-1.3973h-.3648l-.41959.9611-.41971-.9611h-.365v1.3973h.2576v-1.054l.3935.9087h.2671l.39351-.911v1.0563Z" transform="translate(-319.79649 -252)" style="fill: #f79e1b"/>
                  </g>
                </g>
              </svg>
            </li>
           
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 512 223" version="1.1" preserveAspectRatio="xMidYMid">
                <g>
                  <path d="M140.554538,0 L87.4900387,0 C64.043846,1.10858841 44.8782319,10.5521938 39.3443354,30.0263634 C36.4587893,40.1825609 34.8707842,51.3367896 32.6144097,61.8648617 C21.1435851,115.397722 10.9723116,170.404009 0,222.867478 L413.120547,222.867478 C445.058547,222.867478 466.987089,216.118457 472.913967,190.770678 C475.666844,178.995318 478.304139,165.65708 480.938418,152.719863 C491.206178,102.277583 501.482984,51.8383178 512,0 L140.554538,0" fill="#B82126"/>
                  <path d="M353.699639,133.153129 C347.970259,138.762039 331.887435,140.355263 333.532863,126.94789 C334.8992,115.812392 347.022557,113.446149 360.162886,115.054431 C359.186071,121.145224 358.065694,128.879435 353.699639,133.153129 Z M335.600941,89.7164549 C335.053804,92.7884549 334.213522,95.5683137 333.532863,98.5067922 C340.09349,96.8623686 360.52229,91.8186667 362.49098,100.574871 C363.144533,103.484235 362.017129,106.57531 361.197929,108.849192 C342.723765,107.099357 327.666949,110.168345 323.707482,123.327749 C321.055122,132.14218 324.004643,140.816063 329.654714,143.237522 C340.53622,147.898729 353.771922,142.558871 358.35382,135.222212 C357.877961,137.762133 357.4272,140.327153 357.577788,143.495529 L367.144157,143.495529 C367.245553,134.333741 368.578761,126.917773 369.988267,118.673569 C371.189961,111.653145 373.449788,104.702996 373.090384,98.5067922 C372.269176,84.3163608 348.760345,89.3359686 335.600941,89.7164549 Z M431.523639,137.548298 C424.039404,137.708925 420.317867,133.076831 420.1472,125.396831 C419.849035,111.94629 425.749082,97.0029176 437.728878,95.6626824 C443.306667,95.0392471 447.345443,96.3363137 451.432408,97.7317647 C447.680753,112.83978 449.035043,137.172831 431.523639,137.548298 Z M456.344596,66.4465569 C455.391875,74.8011922 454.117898,82.8355765 452.467451,90.4914824 C425.195922,81.8597647 408.470588,101.924141 408.770761,126.688878 C408.829992,131.478588 409.654212,136.228141 412.649914,139.616376 C417.812078,145.455184 432.59382,146.851639 440.055969,141.944471 C441.501616,140.994761 442.97738,139.266008 443.935122,138.066322 C444.653929,137.162792 445.796392,134.799561 446.002196,135.479216 C445.610667,138.104471 445.024376,140.534965 444.969161,143.495529 L455.052549,143.495529 C456.995137,115.618635 463.004612,91.8076235 467.463027,66.4465569 L456.344596,66.4465569 Z M171.67862,133.412141 C165.730384,139.711749 151.107263,139.615373 149.960784,129.015969 C149.460831,124.403953 151.179545,119.568063 152.028863,114.796424 C152.88822,109.966557 153.506635,105.332455 154.354949,101.09189 C160.213835,93.9379451 177.430086,93.0745725 179.17691,104.971043 C180.692831,115.299388 176.604863,128.194761 171.67862,133.412141 Z M180.469961,89.7164549 C171.060204,86.1816471 159.591404,90.4011294 154.619984,94.4148078 C154.637051,94.591498 154.501522,94.6155922 154.354949,94.6286431 C154.440282,94.5573647 154.531639,94.4860863 154.619984,94.4148078 C154.61898,94.399749 154.617976,94.386698 154.613961,94.3706353 C154.69829,92.6438902 155.305663,91.4421961 155.389992,89.7164549 L145.823624,89.7164549 C141.837051,116.239059 137.109584,142.019765 132.120094,167.540455 L143.237522,167.540455 C144.846808,157.600627 145.909961,147.115671 148.150714,137.80731 C150.689631,147.597553 167.268392,145.726243 174.263718,141.944471 C188.699106,134.13898 199.832596,96.9898667 180.469961,89.7164549 Z M233.213992,108.332173 L207.100988,108.332173 C207.927216,102.328722 213.328314,95.7299451 221.837553,95.4046745 C229.846839,95.0984784 235.581239,98.3451608 233.213992,108.332173 Z M222.613584,88.6824157 C214.580204,89.3008314 207.789678,91.6128627 202.963827,96.6967216 C197.044706,102.933082 192.25098,116.719937 193.655467,129.27498 C195.659294,147.186949 217.961412,146.544439 235.800094,142.202478 C236.103278,139.0592 236.864251,136.371702 237.351153,133.412141 C230.002447,136.161882 217.243608,139.999875 209.686086,135.222212 C203.979796,131.614118 203.946667,122.477427 205.807937,114.537412 C217.796769,114.155922 230.257443,114.229208 242.263341,114.537412 C243.025318,108.909427 245.204831,102.773459 243.29738,97.2147451 C240.781553,89.8760784 231.77738,87.9766588 222.613584,88.6824157 Z M124.880816,89.7164549 C124.579639,89.7596235 124.599718,90.125051 124.621804,90.4914824 C122.172235,108.812047 118.857286,126.268235 115.314447,143.495529 L126.431875,143.495529 C129.10331,125.051482 132.163263,106.996957 135.998243,89.7164549 L124.880816,89.7164549 Z M414.977004,89.9744627 C405.15062,85.0622745 396.970667,93.3054745 393.776188,98.2477804 C394.685741,95.7118745 394.737945,92.3166118 395.585255,89.7164549 L385.759875,89.7164549 C383.111529,108.182588 379.917051,126.103592 376.193506,143.495529 L387.569945,143.495529 C387.642227,136.367686 389.041694,131.09509 390.155043,124.10378 C392.533333,109.178478 396.022965,92.8095373 413.425945,97.7317647 C414.0032,95.206902 414.243137,92.3437176 414.977004,89.9744627 Z M290.095184,130.826039 C289.071184,128.178698 288.805145,123.80662 289.061145,120.483639 C289.636392,113.012455 292.358024,103.916925 296.559435,99.7998431 C302.357082,94.1166431 313.802792,95.0573176 322.931451,98.2477804 C323.214557,95.1707608 323.832973,92.4270431 324.224502,89.4584471 C309.252016,87.0128941 295.043514,88.5338353 287.510086,96.4387137 C280.136282,104.176941 275.301396,121.962416 278.718745,133.153129 C282.719373,146.248282 300.653427,146.960063 315.176157,141.944471 C315.817663,139.312188 316.157992,136.377725 316.727216,133.670149 C308.79222,137.793255 293.621961,139.935624 290.095184,130.826039 Z M283.890949,89.7164549 C274.032439,85.734902 266.283169,92.4631843 262.690133,98.7658039 C263.504314,95.961851 263.840627,92.6780235 264.4992,89.7164549 L254.67382,89.7164549 C252.272439,108.34422 248.731608,125.832533 245.366463,143.495529 L256.484894,143.495529 C258.04298,133.010573 258.715608,118.878369 262.17211,108.849192 C264.934902,100.834886 272.165145,94.0072157 282.597898,97.7317647 C282.744471,94.7752157 283.590776,92.5184 283.890949,89.7164549 Z M104.714039,67.9976157 C103.125835,78.3028706 101.336847,88.4073412 99.5428392,98.5067922 C88.0248471,98.6282667 76.2649098,99.0760157 65.1555137,98.2477804 C67.2537098,88.3681882 68.7585882,77.8932706 70.8427294,67.9976157 L58.4332549,67.9976157 C53.989898,93.2030745 49.9491137,118.809098 44.9887373,143.495529 L57.6572235,143.495529 C59.6449882,130.831059 61.5032471,118.038086 64.1204706,106.005082 C74.9226667,105.739043 87.8692392,105.275231 98.2497882,106.264094 C96.1094275,118.774965 93.5233255,130.83909 91.5275294,143.495529 L104.19702,143.495529 C108.266918,117.91862 112.556675,92.5605647 117.641537,67.9976157 L104.714039,67.9976157 Z M136.257255,79.3740549 C138.473914,77.8480941 141.328063,70.8929255 138.067325,67.9976157 C137.03429,67.0810353 135.305537,66.8149961 132.896125,67.2225882 C130.660392,67.6000627 129.374369,68.3590275 128.500957,69.5486745 C127.095467,71.462149 125.808439,77.2306824 127.982933,79.3740549 C130.101208,81.4612078 134.846745,80.3448471 136.257255,79.3740549 L136.257255,79.3740549 Z" fill="#FFFFFF"/>
                </g>
              </svg>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 472.69" width="64px" height="64px"><title>elo-30</title><path d="M0,281.31H1000V754H0Z" transform="translate(0 -281.31)"/><path d="M206,425.75a96.51,96.51,0,0,1,125,72.19l66.08-13.47A163.87,163.87,0,0,0,184.63,361.85Z" transform="translate(0 -281.31)" fill="#ffcb05"/><path d="M128.05,639.84l44.69-50.51a96.34,96.34,0,0,1,0-144.3l-44.69-50.55a163.81,163.81,0,0,0,0,245.36" transform="translate(0 -281.31)" fill="#00a4e0"/><path d="M331,536.47a96.34,96.34,0,0,1-94.39,77,95,95,0,0,1-30.57-5l-21.39,64A164.06,164.06,0,0,0,397.06,550Z" transform="translate(0 -281.31)" fill="#ef4123"/><path d="M454.84,591.43A116.14,116.14,0,0,1,448,578.17a97.26,97.26,0,0,1-2.14-73.56c9.71-26.47,28.27-46.7,52.26-57.05,30.15-13,63.47-10.44,92.38,6.71,18.35,10.52,31.35,26.77,41.23,49.78,1.24,3,2.35,6.08,3.46,8.77ZM515.06,486.6c-21.43,9.2-32.46,29.3-30.15,52.82l90.67-39C560,482.07,539.69,476,515.06,486.6Zm71.81,84.94s0,.05,0,.05l-1.89-1.29c-5.43,8.77-13.85,15.91-24.5,20.53-20.27,8.81-39.05,6.54-52.56-5.3l-1.25,1.88a0,0,0,0,0,0,0l-23,34.43a100,100,0,0,0,18.26,10c25.41,10.57,51.41,10.05,77-1.07,18.52-8,33.06-20.27,43-35.79Zm111.24-175V587.85L728,599.91l-17,39.43-33-13.68a37.31,37.31,0,0,1-16.25-13.6c-3.66-5.61-6.37-13.35-6.37-23.7V396.5Zm77.11,143a54.11,54.11,0,0,1,18.6-40.84l-30.53-34a100,100,0,0,0-.09,149.69l30.5-34a54.06,54.06,0,0,1-18.48-40.76Zm54.23,54.28A54.34,54.34,0,0,1,812.26,591l-14.59,43.33A100.09,100.09,0,0,0,927.43,559.7l-44.82-9.16a54.19,54.19,0,0,1-53.16,43.29Zm.13-154.23a100.85,100.85,0,0,0-31.69,5.09l14.45,43.37a54.25,54.25,0,0,1,70.32,40.71l44.82-9.06a100,100,0,0,0-97.9-80.11Z" transform="translate(0 -281.31)" fill="#fff"/></svg>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" height="64px" width="64px" viewBox="0 -100 1000 1196.2755"><path d="M0 0h997.517v538.49l-49.375 77.147 49.375 68.661v313.219H0v-507.63l30.859-35.488L0 420.454z" fill="#016fd0"/><path d="M193.64 695.099v-156.61h165.82l17.791 23.193 18.38-23.193h601.886V684.3s-15.74 10.643-33.945 10.8H630.295l-20.058-24.688V695.1h-65.73v-42.142s-8.979 5.882-28.39 5.882h-22.373v36.26h-99.52l-17.766-23.69-18.038 23.69zM0 420.454l37.393-87.177h64.668l21.22 48.833v-48.833h80.388l12.633 35.295 12.247-35.295h360.858v17.744s18.97-17.744 50.146-17.744l117.085.41 20.854 48.193v-48.603h67.273l18.515 27.683v-27.683h67.89v156.61h-67.89l-17.744-27.774v27.773h-98.838l-9.94-24.687h-26.57l-9.779 24.687h-67.028c-26.826 0-43.974-17.381-43.974-17.381v17.381H488.343L468.285 465.2v24.687H92.481L82.548 465.2H56.06l-9.86 24.686H0z" fill="#fff"/><path d="M50.628 352.584L.193 469.848h32.836l9.306-23.482h54.1l9.257 23.482h33.56L88.863 352.584zm18.66 27.29l16.49 41.034H52.75zm73.435 89.954V352.564l46.661.173 27.14 75.605 26.49-75.778h46.289v117.264h-29.316v-86.405l-31.076 86.405h-25.71l-31.162-86.405v86.405zm166.638 0V352.564h95.663v26.23h-66.038v20.058h64.495v24.688h-64.495v20.83h66.038v25.458zm112.636-117.244v117.264h29.316v-41.66h12.343l35.15 41.66h35.826l-38.574-43.203c15.831-1.336 32.161-14.923 32.161-36.018 0-24.676-19.368-38.043-40.984-38.043zm29.316 26.23h33.51c8.04 0 13.887 6.288 13.887 12.343 0 7.79-7.577 12.344-13.452 12.344h-33.945zm118.807 91.014h-29.933V352.564h29.933zm70.975 0h-6.46c-31.262 0-50.243-24.63-50.243-58.15 0-34.349 18.768-59.114 58.246-59.114h32.402v27.773h-33.586c-16.026 0-27.36 12.507-27.36 31.63 0 22.71 12.96 32.248 31.63 32.248h7.715zm63.792-117.244l-50.435 117.264h32.836l9.305-23.482h54.1l9.258 23.482h33.559l-50.387-117.264zm18.66 27.29l16.49 41.034h-33.029zm73.386 89.954V352.564h37.272l47.59 73.676v-73.676h29.317v117.264h-36.067l-48.796-75.604v75.604zM213.699 675.04V557.776h95.662v26.23h-66.038v20.059h64.495v24.687h-64.495v20.83h66.038v25.458zm468.748 0V557.776h95.662v26.23h-66.038v20.059h64.187v24.687H712.07v20.83h66.038v25.458zm-369.373 0l46.578-57.908-47.687-59.356H348.9l28.4 36.693 28.497-36.693h35.488l-47.06 58.632 46.663 58.632H403.96l-27.576-36.114-26.905 36.114zM444.37 557.796V675.06h30.087v-37.03h30.859c26.111 0 45.903-13.853 45.903-40.792 0-22.317-15.523-39.442-42.094-39.442zm30.087 26.52h32.498c8.436 0 14.465 5.17 14.465 13.5 0 7.826-5.999 13.501-14.561 13.501h-32.402zm89.491-26.54V675.04h29.316v-41.66h12.344l35.15 41.66h35.825l-38.573-43.202c15.83-1.336 32.16-14.924 32.16-36.019 0-24.676-19.368-38.043-40.984-38.043zm29.316 26.23h33.511c8.039 0 13.887 6.288 13.887 12.344 0 7.79-7.577 12.343-13.453 12.343h-33.945zm198.423 91.034v-25.458h58.671c8.681 0 12.44-4.692 12.44-9.837 0-4.93-3.747-9.913-12.44-9.913h-26.513c-23.045 0-35.88-14.04-35.88-35.121 0-18.803 11.753-36.935 46-36.935h57.088l-12.343 26.385h-49.375c-9.438 0-12.343 4.952-12.343 9.682 0 4.86 3.59 10.222 10.8 10.222h27.773c25.69 0 36.838 14.572 36.838 33.655 0 20.517-12.422 37.32-38.236 37.32zm107.597 0v-25.458h58.67c8.682 0 12.44-4.692 12.44-9.837 0-4.93-3.746-9.913-12.44-9.913h-26.512c-23.046 0-35.88-14.04-35.88-35.121 0-18.803 11.753-36.935 45.999-36.935h57.089l-12.344 26.385h-49.374c-9.438 0-12.344 4.952-12.344 9.682 0 4.86 3.59 10.222 10.801 10.222h27.773c25.69 0 36.838 14.572 36.838 33.655 0 20.517-12.422 37.32-38.236 37.32z" fill="#016fd0"/></svg> 
          </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="64px" viewBox="0 0 116 52" version="1.1">
                <g id="surface1">
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 8.757813 0.683594 L 14.203125 0.683594 L 14.203125 51.640625 L 8.757813 51.640625 L 8.757813 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 15.917969 0.683594 L 17.601563 0.683594 L 17.601563 51.640625 L 15.917969 51.640625 L 15.917969 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 19.074219 0.683594 L 22.09375 0.683594 L 22.09375 51.640625 L 19.074219 51.640625 L 19.074219 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 25.003906 0.683594 L 26.6875 0.683594 L 26.6875 51.640625 L 25.003906 51.640625 L 25.003906 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 27.421875 0.683594 L 28.722656 0.683594 L 28.722656 51.640625 L 27.421875 51.640625 L 27.421875 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 4.621094 0.683594 L 6.308594 0.683594 L 6.308594 51.640625 L 4.621094 51.640625 L 4.621094 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 0.902344 0.683594 L 3.921875 0.683594 L 3.921875 51.640625 L 0.902344 51.640625 L 0.902344 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 37.734375 0.683594 L 43.179688 0.683594 L 43.179688 51.640625 L 37.734375 51.640625 L 37.734375 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 44.894531 0.683594 L 46.578125 0.683594 L 46.578125 51.640625 L 44.894531 51.640625 L 44.894531 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 48.050781 0.683594 L 51.070313 0.683594 L 51.070313 51.640625 L 48.050781 51.640625 L 48.050781 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 53.980469 0.683594 L 55.664063 0.683594 L 55.664063 51.640625 L 53.980469 51.640625 L 53.980469 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 56.398438 0.683594 L 57.699219 0.683594 L 57.699219 51.640625 L 56.398438 51.640625 L 56.398438 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 33.597656 0.683594 L 35.285156 0.683594 L 35.285156 51.640625 L 33.597656 51.640625 L 33.597656 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 29.878906 0.683594 L 32.898438 0.683594 L 32.898438 51.640625 L 29.878906 51.640625 L 29.878906 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 59.835938 0.683594 L 62.855469 0.683594 L 62.855469 51.640625 L 59.835938 51.640625 L 59.835938 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 65.765625 0.683594 L 67.453125 0.683594 L 67.453125 51.640625 L 65.765625 51.640625 L 65.765625 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 68.1875 0.683594 L 69.484375 0.683594 L 69.484375 51.640625 L 68.1875 51.640625 L 68.1875 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 74.359375 0.683594 L 76.046875 0.683594 L 76.046875 51.640625 L 74.359375 51.640625 L 74.359375 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 70.640625 0.683594 L 73.660156 0.683594 L 73.660156 51.640625 L 70.640625 51.640625 L 70.640625 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 78.289063 0.683594 L 79.976563 0.683594 L 79.976563 51.640625 L 78.289063 51.640625 L 78.289063 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 80.710938 0.683594 L 82.011719 0.683594 L 82.011719 51.640625 L 80.710938 51.640625 L 80.710938 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 86.886719 0.683594 L 88.570313 0.683594 L 88.570313 51.640625 L 86.886719 51.640625 L 86.886719 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 83.164063 0.683594 L 86.183594 0.683594 L 86.183594 51.640625 L 83.164063 51.640625 L 83.164063 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 90.042969 0.683594 L 95.484375 0.683594 L 95.484375 51.640625 L 90.042969 51.640625 L 90.042969 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 97.199219 0.683594 L 98.886719 0.683594 L 98.886719 51.640625 L 97.199219 51.640625 L 97.199219 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 100.355469 0.683594 L 103.375 0.683594 L 103.375 51.640625 L 100.355469 51.640625 L 100.355469 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 106.285156 0.683594 L 107.972656 0.683594 L 107.972656 51.640625 L 106.285156 51.640625 L 106.285156 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 108.703125 0.683594 L 110.003906 0.683594 L 110.003906 51.640625 L 108.703125 51.640625 L 108.703125 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 112.144531 0.683594 L 115.160156 0.683594 L 115.160156 51.640625 L 112.144531 51.640625 L 112.144531 0.683594 "/>
                <path style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,100%,100%);fill-opacity:1;" d="M 7.058594 51.757813 L 111.375 51.757813 L 111.375 23.199219 L 7.058594 23.199219 L 7.058594 51.757813 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 9.023438 50.664063 L 9.023438 24.820313 L 18.71875 24.820313 C 20.695313 24.820313 22.277344 25.082031 23.472656 25.605469 C 24.664063 26.128906 25.59375 26.933594 26.269531 28.023438 C 26.949219 29.105469 27.285156 30.242188 27.285156 31.433594 C 27.285156 32.53125 26.984375 33.574219 26.390625 34.546875 C 25.792969 35.523438 24.890625 36.308594 23.683594 36.910156 C 25.246094 37.367188 26.449219 38.152344 27.285156 39.257813 C 28.128906 40.359375 28.546875 41.664063 28.546875 43.167969 C 28.546875 44.382813 28.289063 45.507813 27.777344 46.546875 C 27.269531 47.589844 26.636719 48.386719 25.882813 48.953125 C 25.132813 49.511719 24.1875 49.941406 23.058594 50.230469 C 21.921875 50.519531 20.53125 50.664063 18.882813 50.664063 Z M 12.453125 35.683594 L 18.039063 35.683594 C 19.554688 35.683594 20.644531 35.582031 21.300781 35.382813 C 22.171875 35.125 22.828125 34.691406 23.269531 34.089844 C 23.707031 33.488281 23.929688 32.738281 23.929688 31.828125 C 23.929688 30.96875 23.726563 30.210938 23.308594 29.5625 C 22.902344 28.90625 22.3125 28.453125 21.546875 28.214844 C 20.785156 27.972656 19.472656 27.851563 17.621094 27.851563 L 12.453125 27.851563 Z M 12.453125 47.628906 L 18.890625 47.628906 C 19.996094 47.628906 20.773438 47.589844 21.222656 47.503906 C 22.003906 47.367188 22.667969 47.132813 23.195313 46.800781 C 23.726563 46.46875 24.15625 45.988281 24.5 45.355469 C 24.84375 44.726563 25.011719 43.996094 25.011719 43.171875 C 25.011719 42.207031 24.765625 41.367188 24.265625 40.652344 C 23.773438 39.9375 23.085938 39.4375 22.210938 39.148438 C 21.335938 38.859375 20.074219 38.714844 18.433594 38.714844 L 12.453125 38.714844 L 12.453125 47.628906 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 31.652344 41.296875 C 31.652344 37.839844 32.613281 35.277344 34.546875 33.609375 C 36.152344 32.226563 38.117188 31.535156 40.433594 31.535156 C 43.003906 31.535156 45.109375 32.375 46.742188 34.0625 C 48.375 35.738281 49.191406 38.066406 49.191406 41.03125 C 49.191406 43.4375 48.832031 45.328125 48.109375 46.703125 C 47.386719 48.082031 46.335938 49.152344 44.953125 49.917969 C 43.574219 50.679688 42.066406 51.058594 40.433594 51.058594 C 37.8125 51.058594 35.695313 50.222656 34.078125 48.542969 C 32.460938 46.867188 31.652344 44.449219 31.652344 41.296875 Z M 34.902344 41.300781 C 34.902344 43.695313 35.425781 45.488281 36.46875 46.675781 C 37.523438 47.863281 38.839844 48.460938 40.433594 48.460938 C 42.011719 48.460938 43.320313 47.863281 44.375 46.667969 C 45.421875 45.472656 45.945313 43.648438 45.945313 41.199219 C 45.945313 38.890625 45.414063 37.140625 44.363281 35.957031 C 43.308594 34.765625 42 34.167969 40.433594 34.167969 C 38.839844 34.167969 37.523438 34.757813 36.46875 35.945313 C 35.425781 37.128906 34.902344 38.914063 34.902344 41.300781 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 52.84375 50.664063 L 52.84375 24.820313 L 56.019531 24.820313 L 56.019531 50.664063 L 52.84375 50.664063 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 73.710938 44.597656 L 76.992188 45.03125 C 76.480469 46.9375 75.527344 48.425781 74.128906 49.476563 C 72.734375 50.53125 70.953125 51.058594 68.78125 51.058594 C 66.050781 51.058594 63.886719 50.21875 62.285156 48.53125 C 60.6875 46.855469 59.886719 44.492188 59.886719 41.453125 C 59.886719 38.3125 60.691406 35.871094 62.3125 34.140625 C 63.929688 32.402344 66.027344 31.535156 68.609375 31.535156 C 71.105469 31.535156 73.144531 32.382813 74.726563 34.085938 C 76.308594 35.785156 77.101563 38.179688 77.101563 41.265625 C 77.101563 41.453125 77.09375 41.734375 77.082031 42.109375 L 63.136719 42.109375 C 63.253906 44.160156 63.832031 45.734375 64.878906 46.824219 C 65.917969 47.914063 67.226563 48.460938 68.78125 48.460938 C 69.945313 48.460938 70.9375 48.152344 71.753906 47.539063 C 72.578125 46.925781 73.226563 45.945313 73.710938 44.597656 Z M 63.316406 39.511719 L 73.746094 39.511719 C 73.605469 37.933594 73.203125 36.753906 72.546875 35.96875 C 71.542969 34.746094 70.230469 34.132813 68.625 34.132813 C 67.171875 34.132813 65.949219 34.621094 64.957031 35.59375 C 63.972656 36.570313 63.421875 37.875 63.316406 39.511719 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 87.898438 47.828125 L 88.332031 50.632813 C 87.441406 50.820313 86.640625 50.914063 85.945313 50.914063 C 84.792969 50.914063 83.90625 50.734375 83.265625 50.367188 C 82.636719 50 82.191406 49.523438 81.929688 48.929688 C 81.671875 48.335938 81.546875 47.082031 81.546875 45.175781 L 81.546875 34.386719 L 79.199219 34.386719 L 79.199219 31.929688 L 81.546875 31.929688 L 81.546875 27.300781 L 84.722656 25.394531 L 84.722656 31.929688 L 87.898438 31.929688 L 87.898438 34.386719 L 84.722656 34.386719 L 84.722656 45.355469 C 84.722656 46.265625 84.777344 46.847656 84.890625 47.105469 C 85 47.367188 85.179688 47.570313 85.433594 47.726563 C 85.683594 47.875 86.046875 47.957031 86.515625 47.957031 C 86.863281 47.957031 87.328125 47.914063 87.898438 47.828125 "/>
                <path style=" stroke:none;fill-rule:nonzero;fill:rgb(13.699341%,12.199402%,12.5%);fill-opacity:1;" d="M 89.839844 41.296875 C 89.839844 37.839844 90.804688 35.277344 92.734375 33.609375 C 94.339844 32.226563 96.308594 31.535156 98.621094 31.535156 C 101.191406 31.535156 103.296875 32.375 104.933594 34.0625 C 106.5625 35.738281 107.382813 38.066406 107.382813 41.03125 C 107.382813 43.4375 107.019531 45.328125 106.296875 46.703125 C 105.574219 48.082031 104.523438 49.152344 103.140625 49.917969 C 101.761719 50.679688 100.253906 51.058594 98.621094 51.058594 C 96 51.058594 93.882813 50.222656 92.265625 48.542969 C 90.648438 46.867188 89.839844 44.449219 89.839844 41.296875 Z M 93.089844 41.300781 C 93.089844 43.695313 93.613281 45.488281 94.660156 46.675781 C 95.710938 47.863281 97.03125 48.460938 98.621094 48.460938 C 100.199219 48.460938 101.511719 47.863281 102.5625 46.667969 C 103.609375 45.472656 104.132813 43.648438 104.132813 41.199219 C 104.132813 38.890625 103.605469 37.140625 102.550781 35.957031 C 101.496094 34.765625 100.1875 34.167969 98.621094 34.167969 C 97.03125 34.167969 95.710938 34.757813 94.660156 35.945313 C 93.613281 37.128906 93.089844 38.914063 93.089844 41.300781 "/>
                </g>
                </svg>
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 952.77 338.7" width="64px" height="64px"><path d="M393.22,316.26V122a64.71,64.71,0,0,1,64.71-64.71l57.35.08A64.62,64.62,0,0,1,579.77,122v41.34a64.72,64.72,0,0,1-64.71,64.72H434" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/><path d="M595.8,57.28h24.88a26.56,26.56,0,0,1,26.56,26.56v145.1" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/><path d="M641.9,34.8,630.62,23.51a7.16,7.16,0,0,1,0-10.13L641.9,2.1a7.18,7.18,0,0,1,10.15,0l11.27,11.28a7.16,7.16,0,0,1,0,10.13L652,34.8a7.17,7.17,0,0,1-10.14,0" fill="#32bcad"/><path d="M695,57.15h24.67a47.85,47.85,0,0,1,33.84,14l57.71,57.71a19.13,19.13,0,0,0,27.07,0l57.5-57.49a47.81,47.81,0,0,1,33.83-14h20.06" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/><path d="M695,227.67h24.67a47.86,47.86,0,0,0,33.84-14l57.71-57.71a19.15,19.15,0,0,1,27.07,0l57.5,57.5a47.84,47.84,0,0,0,33.83,14h20.06" fill="none" stroke="#939598" stroke-linecap="round" stroke-linejoin="round" stroke-width="20"/><path d="M246.13,264.53A46.07,46.07,0,0,1,213.35,251L166,203.62a9,9,0,0,0-12.44,0l-47.51,47.51A46.09,46.09,0,0,1,73.27,264.7H64l60,60a48,48,0,0,0,67.81,0l60.12-60.13Z" fill="#32bcad"/><path d="M73.28,97.09a46.08,46.08,0,0,1,32.78,13.57l47.51,47.52a8.81,8.81,0,0,0,12.44,0l47.34-47.34a46,46,0,0,1,32.78-13.58h5.7L191.71,37.14a47.94,47.94,0,0,0-67.81,0L64,97.09Z" fill="#32bcad"/><path d="M301.56,147l-36.33-36.33a7,7,0,0,1-2.58.52H246.13a32.62,32.62,0,0,0-22.93,9.5L175.86,168a22.74,22.74,0,0,1-32.13,0L96.21,120.51A32.62,32.62,0,0,0,73.28,111H53a7.12,7.12,0,0,1-2.44-.49L14,147a48,48,0,0,0,0,67.81l36.48,36.48a6.85,6.85,0,0,1,2.44-.49H73.28a32.63,32.63,0,0,0,22.93-9.51l47.51-47.51c8.59-8.58,23.56-8.58,32.14,0l47.34,47.33a32.62,32.62,0,0,0,22.93,9.5h16.52a6.9,6.9,0,0,1,2.58.52l36.33-36.33a47.94,47.94,0,0,0,0-67.81" fill="#32bcad"/></svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}


<style>
  :root {
  --main-bg-color: {{ section.settings.background_color_id }};
  }
  .footer{
    background-color: var(--main-bg-color);
  }
</style>


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
     "type": "social_media",
      "name": "Social Media",
      "settings": [
        {
          "type": "url",
          "id": "social_url_id",
          "label": "label"
        },
        {
          "type": "html",
          "id": "social_icon_id",
          "label": "Social Media"
        }
      ]
    },
    {
      "type": "product",
      "name": "Product announce",
      "settings": [
       {
         "type": "product",
         "id": "product_id",
         "label": "Product announce"
       }
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "background_color_id",
      "label": "Background color",
      "default": "#FFF"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "html",
      "id": "logo_svg_id",
      "label": "Logo SVG"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
