<!-- sections/image-banner.liquid -->
{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
<link rel="preload" href="{{ section.settings.image_mobile }}" as="image" />
<link rel="preload" href="{{ section.settings.image }}" as="image" />
<!-- Uncomment this call above to activate the banner slider -->
<!-- <script src="{{ 'image-banner-slide.js' | asset_url }}" defer="defer"></script> -->

{%- for block in section.blocks -%}
{% assign paddingValue = 1| divided_by: block.settings.image.aspect_ratio | round: 2 | times: 100%}
{% assign paddingValueMobile = 1| divided_by: block.settings.image_mobile.aspect_ratio | round: 2 | times: 100%}

   {%- style -%}
      .banner__media{
         padding-bottom: {{paddingValue}}%
      }
      @media screen and (max-width: 749px) {
         .block-{{block.id}}{
            background-image: url('{{ block.settings.image_mobile | img_url: '800x' }}');
            background-position: center 0;
            background-repeat: no-repeat;
            background-size: contain;
         }
         body .block-{{block.id}}.banner__media img{
            z-index: -1
         }

         .banner__media{
            padding-bottom: {{paddingValueMobile}}%
         }
      }
   {%- endstyle -%}
{%- endfor -%}

<div id="Banner-{{ section.id }}" class="banner">
  <a href="{{ section.settings.button_url }}" class="banner__btn">{{section.settings.banner_button}}</a>
  <ul class="banner__swiper-slide">
     {%- for block in section.blocks -%}
      <li>
         <a href="{{ block.settings.link_url }}">
            <div class="banner__media banner-{{forloop.index}} block-{{block.id}} media{% if block.settings.image == blank %} placeholder{% endif %}">
               <img srcset="{%- if block.settings.image.width >= 375 -%}{{ block.settings.image | img_url: '375x' }} 375w,{%- endif -%}
                     {%- if block.settings.image.width >= 750 -%}{{ block.settings.image | img_url: '750x' }} 750w,{%- endif -%}
                     {%- if block.settings.image.width >= 1100 -%}{{ block.settings.image | img_url: '1100x' }} 1100w,{%- endif -%}
                     {%- if block.settings.image.width >= 1500 -%}{{ block.settings.image | img_url: '1500x' }} 1500w,{%- endif -%}
                     {%- if block.settings.image.width >= 1780 -%}{{ block.settings.image | img_url: '1780x' }} 1780w,{%- endif -%}
                     {%- if block.settings.image.width >= 2000 -%}{{ block.settings.image | img_url: '2000x' }} 2000w,{%- endif -%}
                     {%- if block.settings.image.width >= 3000 -%}{{ block.settings.image | img_url: '3000x' }} 3000w,{%- endif -%}
                     {%- if block.settings.image.width >= 3840 -%}{{ block.settings.image | img_url: '3840x' }} 3840w,{%- endif -%}
                     {{ block.settings.image | img_url: 'master' }} {{ block.settings.image.width }}w"
               sizes="(min-width: 750px) 100vw" src="{{ block.settings.image | img_url: '1500x' }}" loading="lazy"
               alt="{{ block.settings.image.alt | escape }}" width="{{ block.settings.image.width }}"
               height="{{ block.settings.image.width | divided_by: block.settings.image.aspect_ratio }}">
            </div>
         </a>
      </li>
     {%- endfor -%}
  </ul>
</div>

{% schema %}
{
   "name":"t:sections.image-banner.name",
   "tag":"section",
   "class":"spaced-section spaced-section--full-width",
   "settings":[
      {
        "type": "text",
        "id": "banner_button",
        "label": "Banner Button Text",
        "placeholder": "Text Here..."
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
      {
         "type":"checkbox",
         "id":"adapt_height_first_image",
         "default":false,
         "label":"t:sections.image-banner.settings.adapt_height_first_image.label"
      },
      {
         "type":"range",
         "id":"image_overlay_opacity",
         "min":0,
         "max":100,
         "step":10,
         "unit":"%",
         "label":"t:sections.image-banner.settings.image_overlay_opacity.label",
         "default":0
      }
   ],
   "blocks":[
      {
         "type": "text",
         "name": "Image Banner",
         "settings": [
            {
               "type":"image_picker",
               "id":"image",
               "label":"Desktop Image"
            },
            {
               "type": "url",
               "id": "link_url",
               "label": "Link URL"
             },
            {
               "type":"image_picker",
               "id":"image_mobile",
               "label":"Mobile Image"
            }
         ]
      }
   ]
}
{% endschema %}