{{ 'landing-accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion__section page-width">
    <div id="accordion-{{section.id}}" class="accordion__section-title">
        <div class="accordion__icon-title">{{ section.settings.icon_id }}
            <h2>{{ section.settings.title_id }}</h2>
        </div>
        <div class="accordion__arrow"><svg width="25" height="24" viewBox="0 0 25 24" fill="#ffc52c" xmlns="https://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0908203 16.909L2.27264 19.0908L12.0908 9.27264L21.909 19.0908L24.0908 16.909L12.0908 4.909L0.0908203 16.909Z"></path></svg></div>
    </div>
    <div class="accordion__section-tab">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'banner' -%}
                {%- render 'custom-banner' image_id: block.settings.image_id 
                image_mobile_id: block.settings.image_mobile_id
                banner_url: block.settings.banner_url
                -%}
            {%- when 'acc-image' -%}
                {%- render 'accordion-image'
                title_id: block.settings.title_id
                image_id: block.settings.image_id
                tab_title_1: block.settings.tab_title_1
                tab_content_1:block.settings.tab_content_1
                tab_title_2: block.settings.tab_title_2
                tab_content_2:block.settings.tab_content_2
                tab_title_3: block.settings.tab_title_3
                tab_content_3:block.settings.tab_content_3

                -%}
          {%- endcase -%}
    {%- endfor -%}
    </div>
</div>
<script>
    const section_id = '{{section.id}}';
    console.log(section_id)
    const acc = document.getElementById(`accordion-${section_id}`);


    acc.addEventListener("click", function() {
    this.classList.toggle("active");
    const panel = this.nextElementSibling;
    const scrollHeight = panel.scrollHeight;
    if (panel.style.height === scrollHeight+'px') {
        panel.style.height = "0";
    } else {
        panel.style.height = scrollHeight+'px';
    }
    });
</script>


{% schema %}
{
    "name": "Accordion Section",
    "settings": [
        {
            "type": "text",
            "id": "title_id",
            "label": "Accordion Title"
        },
        {
            "type": "html",
            "id": "icon_id",
            "label": "Accordion Icon"
        }
    ],
    "blocks":[
        {
            "type": "@app"
        },
        {
           "type": "banner",
           "name": "Custom Banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_id",
                    "label": "Banner Desktop Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile_id",
                    "label": "Banner Mobile Image"
                },
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "Banner url"
                }
            ]
        },
        {
            "type": "acc-image",
            "name": "Accordion Image",
            "settings":[
                 {
                     "type": "text",
                     "id": "title_id",
                     "label": "Content Title"
                 },
                {
                    "type": "image_picker",
                    "id": "image_id",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "tab_title_1",
                    "label": "Tab Title 1"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_1",
                    "label": "Tab Content 1"
                },
                {
                    "type": "text",
                    "id": "tab_title_2",
                    "label": "Tab Title 2"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_2",
                    "label": "Tab Content 2"
                },
                {
                    "type": "text",
                    "id": "tab_title_3",
                    "label": "Tab Title 3"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_3",
                    "label": "Tab Content 3"
                }
            ]
        }    
    ],
   "presets": [
       {
           "name":"Accordion Section"
       }
   ]
}
{% endschema %}