{{ 'landing-accordion.css' | asset_url | stylesheet_tag }}
<script src="{{ 'accordion-image.js' | asset_url }}" defer="defer"></script>

<div class="accordion__section page-width">
    <div id="accordion-{{section.id}}" class="accordion__section-title active">
        <div class="accordion__icon-title">{{ section.settings.icon_id }}
            <h2>{{ section.settings.title_id }}</h2>
        </div>
        <div class="accordion__arrow"><svg width="25" height="24" viewBox="0 0 25 24" fill="#ffc52c" xmlns="https://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.0908203 16.909L2.27264 19.0908L12.0908 9.27264L21.909 19.0908L24.0908 16.909L12.0908 4.909L0.0908203 16.909Z"></path></svg></div>
    </div>
    <div class="accordion__section-tab" {% if section.settings.overflow_id != true %} style="overflow: auto;"{% endif %}>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'banner' -%}
                {%- render 'custom-banner' 
                block_id: block.id
                image_id: block.settings.image_id 
                image_mobile_id: block.settings.image_mobile_id
                banner_url: block.settings.banner_url
                enable_link: block.settings.enable_link
                -%}
            {%- when 'acc-image' -%}
                {%- render 'accordion-image'
                
                title_id: block.settings.title_id
                image_id: block.settings.image_id
                enable_text: block.settings.enable_text
                text_content_id: block.settings.text_content_id
                tab_title_1: block.settings.tab_title_1
                tab_content_1:block.settings.tab_content_1
                tab_title_2: block.settings.tab_title_2
                tab_content_2:block.settings.tab_content_2
                tab_title_3: block.settings.tab_title_3
                tab_content_3:block.settings.tab_content_3

                -%}
            {%- when 'custom_html' -%}
                {{block.settings.custom_html_id}}
            {%- when 'rich_text' -%}
                <div class="rich-text__cotainer">
                    <h2 class="rich-text__title" >
                        {{ block.settings.title_id }}
                    </h2>
                    <div class="rich-text__content">
                        {{ block.settings.content_id }}
                    </div>
                </div>
            {%- when 'uvp_section'-%}
             {%- render 'accordion-uvp' 
                uvp_icon_1: block.settings.uvp_icon_1
                uvp_text_1: block.settings.uvp_text_1
                uvp_icon_2: block.settings.uvp_icon_2
                uvp_text_2: block.settings.uvp_text_2
                uvp_icon_3: block.settings.uvp_icon_3
                uvp_text_3: block.settings.uvp_text_3
                uvp_icon_4: block.settings.uvp_icon_4
                uvp_text_4: block.settings.uvp_text_4
             -%}
            {%- when 'padding_section'-%}
                <div style="padding-top: {{ block.settings.padding_step }}px"></div>
          {%- endcase -%}
    {%- endfor -%}
    </div>
</div>
<script>
    var section_id = '{{section.id}}';
    console.log(section_id)
    var acc = document.getElementById(`accordion-${section_id}`);


    acc.addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    var scrollHeight = panel.scrollHeight;

    if (panel.style.height === scrollHeight+'px' || panel.style.height == '') {
        panel.style.height = "0";
    } else {
        panel.style.height = scrollHeight+'px';
    }
    });
</script>


{% schema %}
{
    "name": "Accordion Section",
    "settings": [
        {
            "type": "text",
            "id": "title_id",
            "label": "Accordion Title"
        },
        {
            "type": "html",
            "id": "icon_id",
            "label": "Accordion Icon"
        },
       {
           "type": "checkbox",
           "id": "overflow_id",
           "label": "Overflow hidden",
           "default": true
       }
    ],
    "blocks":[
        {
            "type": "@app"
        },
        {
           "type": "padding_section",
           "name": "Padding Section",
           "settings": [
                {
                    "type": "range",
                    "id": "padding_step",
                    "min": 0,
                    "max": 300,
                    "step": 10,
                    "unit": "px",
                    "default": 0,
                    "label":"Padding"
                }
           ]
        },
        {
           "type": "custom_html",
           "name": "Custom HTML",
           "settings": [
               {
                   "type": "html",
                   "id": "custom_html_id",
                   "label": "Custom HTML"
               }
            ]
        },
        {
           "type": "rich_text",
           "name": "Custom TEXT",
           "settings": [
               {
                   "type": "richtext",
                   "id": "title_id",
                   "label": "Title"
               },
               {
                  "type": "richtext",
                  "id": "content_id",
                  "label": "Content"
               }
           ]
        },
        {
           "type": "uvp_section",
           "name": "UVP Section",
           "settings": [
                {
                    "type":"html",
                    "id":"uvp_icon_1",
                    "label":"UVP Icon(svg) 01"
                },
                {
                    "type":"text",
                    "id":"uvp_text_1",
                    "label":"UVP Text 01"
                },
                {
                    "type":"html",
                    "id":"uvp_icon_2",
                    "label":"UVP Icon(svg) 02"
                },
                {
                    "type":"text",
                    "id":"uvp_text_2",
                    "label":"UVP Text 02"
                },
                {
                    "type":"html",
                    "id":"uvp_icon_3",
                    "label":"UVP Icon(svg) 03"
                },
                {
                    "type":"text",
                    "id":"uvp_text_3",
                    "label":"UVP Text 03"
                },
                {
                    "type":"html",
                    "id":"uvp_icon_4",
                    "label":"UVP Icon(svg) 04"
                },
                {
                    "type":"text",
                    "id":"uvp_text_4",
                    "label":"UVP Text 04"
                }    
           ]
        },
        {
           "type": "banner",
           "name": "Custom Banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_id",
                    "label": "Banner Desktop Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile_id",
                    "label": "Banner Mobile Image"
                },
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "Banner url"
                },
                {
                    "type": "checkbox",
                    "id": "enable_link",
                    "label": "Enable Link",
                    "default": false
                }
            ]
        },
        {
            "type": "acc-image",
            "name": "Accordion Image",
            "settings":[
                 {
                     "type": "text",
                     "id": "title_id",
                     "label": "Content Title"
                 },
                {
                    "type": "image_picker",
                    "id": "image_id",
                    "label": "Image"
                },
                {
                    "type": "checkbox",
                    "id": "enable_text",
                    "label": "Use text instead tabs",
                    "default": true
                },
                {
                    "type": "html",
                    "id": "text_content_id",
                    "label": "Content"
                },
                {
                    "type": "text",
                    "id": "tab_title_1",
                    "label": "Tab Title 1"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_1",
                    "label": "Tab Content 1"
                },
                {
                    "type": "text",
                    "id": "tab_title_2",
                    "label": "Tab Title 2"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_2",
                    "label": "Tab Content 2"
                },
                {
                    "type": "text",
                    "id": "tab_title_3",
                    "label": "Tab Title 3"
                },
                {
                    "type": "richtext",
                    "id": "tab_content_3",
                    "label": "Tab Content 3"
                }
            ]
        }    
    ],
   "presets": [
       {
           "name":"Accordion Section"
       }
   ]
}
{% endschema %}