{{ 'landing-accordion.css' | asset_url | stylesheet_tag }}

<div class="accordion__section page-width">
    <div id="accordion-{{section.id}}" class="accordion__section-title">
        <div>{{ section.settings.icon_id }}</div>
        <h2>{{ section.settings.title_id }}</h2>
    </div>
    <div class="accordion__section-tab">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
                {% render block %}
            {%- when 'banner' -%}
                {%- render 'custom-banner' image_id: block.settings.image_id 
                image_mobile_id: block.settings.image_mobile_id
                banner_url: block.settings.banner_url
                -%}
          {%- endcase -%}
    {%- endfor -%}
    </div>
</div>
<script>
    const section_id = '{{section.id}}';
    console.log(section_id)
    const acc = document.getElementById(`accordion-${section_id}`);


    acc.addEventListener("click", function() {
    this.classList.toggle("active");
    const panel = this.nextElementSibling;
    const scrollHeight = panel.scrollHeight;
    if (panel.style.height === scrollHeight+'px') {
        panel.style.height = "0";
    } else {
        panel.style.height = scrollHeight+'px';
    }
    });
</script>


{% schema %}
{
    "name": "Accordion Section",
    "settings": [
        {
            "type": "text",
            "id": "title_id",
            "label": "Accordion Title"
        },
        {
            "type": "html",
            "id": "icon_id",
            "label": "Accordion Icon"
        }
    ],
    "blocks":[
        {
           "type": "banner",
           "name": "Custom Banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image_id",
                    "label": "Banner Desktop Image"
                },
                {
                    "type": "image_picker",
                    "id": "image_mobile_id",
                    "label": "Banner Mobile Image"
                },
                {
                    "type": "url",
                    "id": "banner_url",
                    "label": "Banner url"
                }
            ]
        }
    
    ],
   "presets": [
       {
           "name":"Accordion Section"
       }
   ]
}
{% endschema %}